spring:  
  application:
    name: discovery-service

server:  
  port: ${PORT:8761}
    
eureka:
  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
      
security:
  basic:
    enabled: true
  user:
    name: admin
    password: admin123